################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/obj
/API/.vs
/API/bin/Debug/net8.0
