.login-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.login-card {
  width: 350px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 10px;
}